*{margin: 0; padding: 0; font-family: Open Sans;}
html{scroll-behavior: smooth;}

.navbar{
display: flex;
position: sticky;
top: 0px;
color: white;
overflow-y: scroll;
scroll-behavior: smooth;

}

.nav-list{
 display: flex;
 justify-content: right;
 width: 100%;
}

.nav-list li{
 padding: 23px 50px 23px 23px;
 list-style: none;
 letter-spacing: 2px;
 font-weight: 350;
}

.nav-list a{
 text-decoration: none;
 color: white;
 }
 
 .nav-list li a:hover{
 background-color: #9DAAF2;
 color: black;
 padding: 23px 23px 23px 23px;
 }
