*{margin: 0px; padding: 0px;
 letter-spacing: 2px; font-family: 'popoins', sans-serif;}


.main{ display: inline-block;
width: 100%;
background: #158cff;
text-decoration: none;
position: fixed;
top: 0%;
right: 0%;
left: 0%;
}

li{ list-style-type: none; padding: 2%;}
p{float: left;
width: 50%;
 font-weight: 300;
 margin-left: -10%;
 padding-bottom: 10px;}


a{ float: right;
width: 50%;
font-weight: 300;
text-decoration: none;
margin-right:-10% ;
padding-bottom: 10px;}
h2{font-weight: 450;
color: white;
padding-left: 5%;}


@media screen and (max-width : 380px){
  h2{font-size: 25px;}
  p{ font-size: 10px;}
  a{font-size: 10px;}
     
}
