  *{padding: 0px; margin: 0px ;}
  body{
       background: ##ffffff;
  }
          
    .header{
     background : rgb(0,0,0,0.4) url("SyllabusPagebg3.webp");
     /*background: url('Download PageBg3.png');*/
     background-size: cover;
     background-blend-mode: ddarken;
     width: 100%;
     height: 30em;   
     justify-content: center;
     align-content: center;
     letter-spacing: 2px;
}
.header p{
     margin: -1% 80% 1% 5% ;
     padding: 6% 0% 0% 0%;
     font-weight: 500;
     color: black;
     font-family: 'Poppins';font-size: 5em;
     }
     
 .header text{
   padding-left: 10%;
   padding-right: 30%;
   display: inline-block;
   width: 60%;
   font-weight: 400;
   letter-spacing: 1px;
   color: #1b1b1b;
 }
 
 section{ display: flex; font-family: monospace;}

.sem1 {background: #6aa2ff; width: 50%; }
.sem1 p{font-size: 25px;padding: 10px 5px 15px 20px;}
.sem1 li{margin: 5px 5px 20px 20px; list-style: decimal;}
.sem1 a{padding-right: 50px; float: right;text-decoration: none;}

.sem2 {background: #6ae0ff; width: 50%; }
.sem2 p{font-size: 25px;padding: 10px 5px 15px 20px;}
.sem2 li{padding: 5px 5px 20px 20px; list-style: decimal;}
.sem2 a{padding-right: 50px; float: right;text-decoration: none;}


.section2 {display: flex;font-family: monospace;}
#sem3 {background: #baff80; width: 50%; }
#sem3 p{font-size: 25px;padding: 10px 5px 15px 20px;}
#sem3 li{padding: 5px 5px 20px 20px; list-style: decimal;}
#sem3 a{padding-right: 50px;; float: right;text-decoration: none;}


#sem4 {background: #95ffe0; width: 50%; }
#sem4 p{font-size: 25px;padding: 10px 5px 15px 20px;}
#sem4 text{padding: 5px 5px 20px 20px;font-size: 17px;}
#sem4 a{padding-left: 5%; padding-top: 3%;float: left;text-decoration: none;font-size: 15px;}

#sem5 {background: #fffc40; width: 50%; height: 25em;}
#sem5 p{font-size: 25px;padding: 10px 5px 15px 20px;}
#sem5 text{padding: 5px 5px 20px 20px;font-size: 17px;}
#sem5 a{padding-left: 5%; padding-top: 3%;float: left;text-decoration: none;font-size: 15px;}

#sem6 {background: #ff808a; width: 50%; }
#sem6 p{font-size: 25px;padding: 10px 5px 15px 20px;}
#sem6 text{padding: 5px 5px 20px 20px;font-size: 17px;}
#sem6 a{padding-left: 5%; padding-top: 3%;float: left;text-decoration: none;font-size: 15px;}
