
#headingtext{
     color: white;
     padding : 10% 10% 2% 10%;
     font-family: Dosis;
     font-size: 25px;
     letter-spacing: 2px;
     font-weight: 150;
}

#subheading{
     color: white;
     letter-spacing: 2px;
     padding: 0% 10% 10% 10%;
     font-weight: 50;
}
#colorText{
     color: orangered;
     font-size: 50px;
     letter-spacing: 2px;
     font-weight: 400;
}
 
